<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'/>
    <title>Movies</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Rating</th>
            <th>Rotten Tomatoes Link</th>
            <th>Want to watch</th>
            <th>Watched</th>
        </tr>
    </thead>
    <tbody>
        <th:block th:each="movie : ${movies}">
            <tr>
                <td th:text="${movie.title}">Title</td>
                <td th:text="${movie.rating}">Rating</td>
                <td th:text="${movie.numberOfReviews}">Number of Reviews</td>
                <td th:text="${movie.rottenTomatoesLink}">Rotten Tomatoes Link</td>
                <td th:text="${movie.wantToWatch}">Want to watch</td>
                <td th:text="${movie.watched}">Watched</td>
            </tr>
        </th:block>
    </tbody>
</table>
</body>
</html>